/* Inkludera Sansita One */
@font-face {
  font-family: 'Sansita One';
  src: url('/fonts/SansitaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Grundläggande reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sansita One', sans-serif;
  background-color: #231F42;
  height: 100%;
}

/* Innehållet på sidan */
.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px; /* Lämna om navbaren behöver utrymme nedtill */
}

/* Navigationsfält längst ner */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F56B9A;
  color: #231F42;
  text-align: center;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color:#231F42;
}

.navbar a:active {
  color:#231F42;
}
